
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--page-bg);
  color: var(--text-color);
	text-wrap: balance;

  @include tablet-666 {
    font-size: 16px;
    line-height: 1.4;
  }

  @include mobile {
      font-size: 14px;
  }
}

img {
	display: block;
}
code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
